{% extends 'base.html' %}

{% load static %}
{% block head_content %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<title>Twister: Share whatever you want</title>
{% endblock head_content %}

{% block content %}
<main>
    <div class="sidenav">
        <div class="login-main-text">
            <h2 class="title">Twister</h2>
            <p>Login or register from here to access.</p>
        </div>
    </div>
    <div class="main mb-5 mb-lg-auto">
        <div class="col-md-6 col-sm-12">
            {% if form.non_field_errors %}
            <div class="alert alert-danger errors-alert">
                {% for error in form.non_field_errors %}
                {{ error }}
                {% endfor %}
            </div>
            {% endif %}
            <div class="login-form {% if form.non_field_errors %} login-form-errors {% endif %} ">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username_id">Enter your username:</label>
                        <input 
                            id="username_id" name="username"
                            type="text" class="form-control"
                            placeholder="Username"
                            {% if form.username.value %}
                            value={{form.username.value}}
                            {% endif %}
                        >
                    </div>
                    <div class="form-group">
                        <label for="password_id">Insert your password:</label>
                        <input 
                            id="password_id" name="password" 
                            type="password" class="form-control" 
                            placeholder="Password"
                            {% if form.password.value %}
                            value={{form.password.value}}
                            {% endif %}
                        >
                    </div>
                    <button type="submit" class="btn btn-warning">Sign in!</button>
                    <a role="button" class="btn btn-secondary" href="{% url 'accounts:signup' %}">Create an account</a>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock content %}