@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
	/* Personal font in the whole website */
	font-family: 'Nunito', sans-serif;
}

.post-icon {
	font-size: 1.3rem;
}

.post-icon:hover {
	cursor: pointer;
	color: black !important;
}

.nav-logout {
	display: flex;
	box-sizing: border-box;
	align-items: center;
	height: 35px;
}

.logout-icon {
	font-size: 1.6rem;
}