@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
	/* Extra space for navbar */
	padding-top: 5rem;
	/* Personal font in the whole website */
	font-family: 'Nunito', sans-serif;
}

.post-icon {
	font-size: 1.3rem;
}

.post-icon:hover {
	cursor: pointer;
	color: black !important;
}