@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Lilita+One');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
	/* Personal font in the whole website */
    font-family: 'Source Sans Pro', sans-serif;
}

.title {
	font-family: 'Lilita One', cursive;
}

.post-icon {
	font-size: 1.3rem;
}

.post-icon:hover {
	cursor: pointer;
	color: black !important;
}

.nav-logout {
	display: flex;
	box-sizing: border-box;
	align-items: center;
	height: 35px;
}

.logout-icon {
	font-size: 1.6rem;
}